

@media (max-width:576px){
   .feature-box{
      flex-direction:column;
      text-align: center;
   }
   .feature-icon-outer{
      display: flex;
      justify-content: center;
      margin: 0;
   }
}



@media only screen and (min-width:200px) and (max-width:768px) {

   .hero-box1 .hero-btn1 span{
      font-size: 12px;
      align-content: center;
   }


}




/*------------ 5-steps---------- */

@media(max-width:767px){

   .card-process .card-box .card-number{
       left: 50%;
       transform: translateX(-50%);
       top: -25px;

   }

   .card-img{
      height: 60px;
      width: 60px;
   }
   .card-img i{
      font-size: 28px;
   }
   .card-number{
      font-size: 48px;
   }

   .card-content h3{
      font-size: 20px;
   }
   
   .card-process .card-box .card-outer{
       flex-direction: column;
       gap: 16px;
       padding: 32px 24px 24px;
       align-items: center;
       text-align: center;
   }

   .card-process .card-box:hover{
    transform: translateX(5px);
   }

 .card-box:hover .card-number{
       opacity: 1;
       transform: translateX(5px);
    }

}



/* ----------Services----- */

@media (max-width:576px){
   .services-box{
      flex-direction: column;
      padding: 24px;
   }
   .services-box .services-img{
      height: 60px;
      width: 60px;
      margin: 0 0 20px;
   }
   .services-img i{
      font-size: 24px;
   }
   .services-box .services-content{
      text-align: center;
   }
   .services-content h3{
      font-size: 19.2px;
      margin-bottom: 12px;
   }
   .services-content p{
      font-size: 15.2px;
      margin-bottom: 16px;
   }
   .services-box .service-link{
      justify-content: center;
   }

   .services-box::before{
      width: 100%;
      height: 4px;
      transform: scaleX(0);
      transform-origin:left;
   }
   .services-box:hover::before{
      transform: scaleX(1);
   }
  
}



/* -----------Services-2------- */

@media (max-width:992px){
   .services-2 .content-block{
    margin-right: 0;
    margin-bottom: 48px;
   }
}

@media (max-width:767px){
   .services-2-img{
      height: 64px;
      width: 64px;
      margin-right: 16px;
   }
   .services-2-img i{
      font-size: 32px;
   }
  .services-2-content h4{
   font-size: 20px;
  }
}



/* ---------Get Started--------- */

@media (max-width:768px){
   .get-started .buttons{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;
   }
   .get-started .buttons .get-started-btn{
      margin: 0;
   }
}